@page
@model SynergyDotCom.Pages.Shared.Admin.Law.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>LawPost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="LawPost.Title" class="control-label"></label>
                <input asp-for="LawPost.Title" class="form-control" aria-required="true"/>
                <span asp-validation-for="LawPost.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LawPost.LegalCategory" class="control-label"></label>
                <input asp-for="LawPost.LegalCategory" class="form-control" />
                <span asp-validation-for="LawPost.LegalCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LawPost.CaseReference" class="control-label"></label>
                <input asp-for="LawPost.CaseReference" class="form-control" />
                <span asp-validation-for="LawPost.CaseReference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LawPost.Analysis" class="control-label"></label>
                <input asp-for="LawPost.Analysis" class="form-control" />
                <span asp-validation-for="LawPost.Analysis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LawPost.ImageUrl" class="control-label"></label>
                <input asp-for="LawPost.ImageUrl" class="form-control" />
                <span asp-validation-for="LawPost.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LawPost.Date" class="control-label"></label>
                <input asp-for="LawPost.Date" class="form-control" />
                <span asp-validation-for="LawPost.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
